.flex-container{
    display: flex;
    text-align: center;
}

.flex-child{
    flex: 1;
    text-align: center;
    padding: 5%;
    border: 2px solid white;
}

.green{
    background-color: rgb(88, 223, 97);
}

.yellow{
    background-color: rgb(221, 255, 0);
}

.form-style{
    padding: 8%;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.login-btn{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    color: white;
    background-color: black;
}